@import '../../Utilities/ResponsiveUtils/';

.containerFormulario{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include MobileSmall{
    
    }
    @include MobileExtraSmall{
    
    }
}

.containerContentFormulario{
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: center;
    //border: solid 1px black;
    flex-wrap: wrap;
    @include MobileSmall{
        height: 90%;
        width: 90%;
    }
    @include MobileExtraSmall{
        height: 90%;
        width: 90%;
    }
    @include Tablet{
        height: 100%;
    }
    @include Desktop{
        height: 100%;

    }
    @include DesktopLarge{
        height: 100%;
    }
}