.bgDetails{
    background-color: #000;
    color: white;
    height: 8rem;
    padding: 2rem;
    border-bottom: solid 5px #1c95f8;
}

.bgHeaderDetails{
    background-color: #1c95f8;
    font-size: 1.2rem;
}
.bgSectionForm{
    margin: 3rem;
    background-color: white;
    border-radius: 5px;
}

