.bgDetails{
    background-color: #000;
    color: white;
    height: 8rem;
    padding: 2rem;
    border-bottom: solid 5px #1c95f8;
}

.bgHeaderDetails{
    background-color: #1c95f8;
    font-size: 1.2rem;
}
.bgSectionForm{
    margin: 1rem;
    background-color: white;
    border-radius: 5px;
}

.ContainerImageNext{
    position: relative;
    height: 300px;
    margin: 1rem;
}

.ContainerImageNext2{
    position: relative;
    height: 200px;
    width: 200px;
    margin: 1rem;
}
.IconAtmos{
    border-radius: 50%;

}